@model WebPastas.Models.ViewModels.ProductoViewModel

@{
    ViewBag.Title = "Editar datos del producto";
}

<br />
<br />

<div>
    <h2>@ViewBag.Title</h2>

    @using (Html.BeginForm("Edit", "Producto", FormMethod.Post))
    {
        <div class="row col-md-12">
            @Html.LabelFor(d => d.Descripcion)
            @Html.TextBoxFor(d => d.Descripcion, "", new { @class = "form-control" })
            @Html.ValidationMessageFor(d => d.Descripcion, null, new { @class = "danger" })
        </div>

        <br />

        <div class="row col-md-12">
            <input value="Guardar" class="btn btn-primary" type="submit" />
        </div>


    }
</div>