@model List<WebPastas.Models.ViewModels.ListProductoViewModel>

@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

<div class="form-group" style="text-align:right;padding:15px">
    <a class="btn btn-primary">Nuevo</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped table-hover">
            <tr>
                <th>Codigo</th> 
                <th>Nombre</th> 
                <th>Fecha de Alta</th> 
                <th></th> 
            </tr>
            @foreach (var oElemento in Model)
            {
                <tr>
                    <td>@oElemento.id</td>
                    <td>@oElemento.Descripcion</td>
                    <td>@oElemento.fecha_alta</td>
                    <td style="text-align:center">
                        <a class="btn btn-success">Ver</a>
                        <a class="btn btn-success">Editar</a>
                        <a class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>

            }
        </table>
    </div>
</div>

